{% extends "base.html" %}

{% block content %}

<div class="hero">

    <h1>Search Library</h1>

    <p>
        Search by Book ID, Book Name, Author or Publisher.
    </p>

</div>

<form method="GET" class="mb-5">

    <div class="input-group">

        <input
        type="text"
        class="form-control"
        name="keyword"
        placeholder="Enter a keyword..."
        value="{{ keyword }}">

        <button class="custom-btn" type="submit">

            Search

        </button>

    </div>

</form>

<div class="dashboard-card">

<table class="table table-dark align-middle mb-0">

<thead>

<tr>

<th>Book ID</th>
<th>Book Name</th>
<th>Author</th>
<th>Publisher</th>
<th>Category</th>

</tr>

</thead>

<tbody>

{% for book in books %}

<tr>

<td>{{ book.book_id }}</td>
<td>{{ book.book_name }}</td>
<td>{{ book.author }}</td>
<td>{{ book.publisher }}</td>
<td>{{ book.category }}</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}